<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Marks</th>
            <th>Fee</th>
        </tr>
        {%for stud in students%}
        <tr>
            <td>{{stud.name}}</td>
            <td>{{stud.email}}</td>
            <td>{{stud.course}}</td>
            <td>{{stud.marks}}</td>
            <td>{{stud.fee}}</td>
        </tr>
        {%endfor%}
    </table>
</body>
</html>